body {
    margin: 0px;
    padding: 0px;
    color: black;
    background: url('img/bg_image.webp');
    /* height: 1245px; */
    background-repeat: no-repeat;
    /* background-size: 1900px; */
    font-family: 'Gulzar', serif;
}

.left {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 34px;
    /* border: 2px solid red; */
}

.mid {
    display: block;
    width: 50%;
    margin: 15px auto;
    /* border: 2px solid green; */

}

.right {
    position: absolute;
    right: 34px;
    top: 40px;
    display: inline-block;
    /* border: 2px solid yellow;  */
}

.left img {
    width: 145px;
}

.left div {
    text-align: center;
}

.left div.text {
    position: absolute;
    top: 80px;
    left: -2px;
    font-size: 22px;
    color: blueviolet;
    font-weight: bold;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 28px;
}

.navbar li a {
    color: #67e8f9;
    text-decoration: none;
    padding: 34px 25px;
}

.navbar li a:hover {
    color: #8994de;
    /* text-decoration: underline; */
}

.navbar li a.active {
    color: #984ed9;
}

.btn {
    margin: 0px 10px;
    background-color: #7e4edf;
    color: black;
    padding: 3px 4px;
    /*to do this */
    border: 2px solid #70b7c6;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b59dd5;
    border: 2px solid #99f6e4;
}

.quote-display {
    position: absolute;
    width: 60vw;
    height: 50vh;
    top: 250px;
    left: 77px;
    background-image: url("img/typing_img.png");
    border-radius: 20px;
    font-size: 25px;
    padding: 5px 15px;
    color: #390326;
    text-align: center;
    box-shadow: 5px 5px 18px white;
}

.quote-input {
    position: absolute;
    border: 2px solid black;
    width: 56vw;
    height: 25vh;
    background-color: white;
    top: 380px;
    left: 111px;
    border-radius: 15px;
    resize: none;
}

._btn {
    position: absolute;
    top: 605px;
    left: 412px;
    background-color: #fe9610;
    border-radius: 10px;
    margin: 7px;
    padding: 9px;
    cursor: pointer;
}

._btn:hover {
    background-color: #e38305;
}

.btn_su {
    position: absolute;
    top: 605px;
    left: 520px;
    background-color: rgba(88, 178, 255, 1);
    border-radius: 10px;
    margin: 7px;
    padding: 9px;
    cursor: pointer;
}

.btn_su:hover {
    background-color: rgba(2, 128, 237, 1);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.timer {
    position: absolute;
    top: 45px;
    font-size: 28px;
    color: black;
    font-weight: bold;
}

nav {
    position: absolute;
    background-image: url("img/typing_img.png");
    margin: 2px;
    padding: 10px;
    top: 350px;
    right: 80px;
    color: black;
    font-weight: bold;
    text-align: left;
    width: 20vw;
    height: 30vh;
    font-size: 23px;
    border-radius: 8px;
}

/* .footer{
    display: flex;
    color: white;
    font-weight: bold;
    justify-content: center;
    font-size: 15px;
    align-items: center;
} */